.quay-lai-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(230, 204, 231);
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.quay-lai-btn:hover {
    background-color:#9c759f;
}