h1{
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    background-color: bisque;
}
.quay-lai-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(230, 204, 231);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease;
}
.quay-lai-btn:hover {
    background-color:#9c759f ;
}

