.box{
    width: 60px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content:center;
    color:#fff;
    font-size: 12px;
    margin: 10px;
}
.box1{
    background-color: red;

}
.box2{
    background-color: blue;
}
.box3{
    background-color:green;
    margin-bottom: 20px;
}
.quay-lai-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(230, 204, 231);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease;
}
.quay-lai-btn:hover {
    background-color:#9c759f ;
}