*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    display:flex;
    justify-content: center;
    text-align: center;
}
body{
    width: 560px;
    height:auto;
    text-align: center;
    border:5px solid #99719c;
    padding: 50px;
    border-radius:12px;
    margin:auto;
}
.content {
    display:flex;
    justify-content: center;
    flex-direction: column;
}
h1{
   text-align: center;
   background-color: rgb(230, 204, 231);
   padding: 20px;
   border-radius: 10px;
   justify-content: center;
   margin-bottom: 20px;
}
.mau_nen{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(230, 204, 231);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}
.mau_nen:hover, .quay-lai-btn:hover{
    background-color: #9c759f;
}
.quay-lai-btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: rgb(230, 204, 231);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    transition: background-color 0.3s ease;
    margin-top: 20px;
}