*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    display:flex;
    justify-content: center;
}
body{
    width: 560px;
    text-align: center;
    border:5px solid #99719c;
    padding: 50px;
    border-radius:12px;
    margin:auto;
}
.content {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.header{
   text-align: center;
   background-color: rgb(230, 204, 231);
   padding: 15px 20px;
   border-radius: 8px;
  
}
.nen-buoi3{
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    background-color: rgb(230, 204, 231);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}
.nen-buoi3:hover{
    background-color: #9c759f;
}
